<div [style]="!(product.price > 500) ? specialStyle : ''" class="product-card">
    <img [src]="product.img" [alt]="product.img" class="product-image">
    <h2 class="product-title">{{product.name}}</h2>
    <p class="product-price">{{product.price}}</p>
    <p class="product-description">{{product.description}}</p>
    <p *ngIf="product.price > 500" class="product-description">Es caro</p>
    <app-btn 
        [disabled]="(product.price === 0) ? true : false" 
        [func]="buyProduct"
        [id]="product.name"
  ></app-btn>
</div>