<div [ngStyle]="product.price > 500 ? specialStyle : null" class="product-card">
    <img [src]="product.img" [alt]="product.img" class="product-image">
    <h2 class="product-title">{{ product.price === 0 ? product.name + ', AGOTADO' : product.name }}</h2>
    <p class="product-price">{{ product.price | currency:'EUR':'symbol-narrow' }}</p>
    <p class="product-description">{{ product.description }}</p>
    <p *ngIf="product.price > 500" class="product-description"><strong>Es caro</strong></p>
    <p class="product-description">{{ product.fecha | date }}</p>
    <app-buy-product-form [product]="product"></app-buy-product-form>
</div>
