<form [formGroup]="form">
  <h2 mat-dialog-title>Fill in the necessary fields</h2>
  <mat-dialog-content>
    <div *ngFor="let key of data.productInterfaceKeys">
      <mat-form-field>
        <mat-label>{{ key }}</mat-label>
        <input type={{this.getDataType(key)}} matInput [formControlName]="key">
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button [mat-dialog-close]="data.productInterface" cdkFocusInitial>Ok</button>
    <button mat-button [mat-dialog-close] (ngSubmit)="onSubmit()" cdkFocusInitial>onSubmit</button>
  </mat-dialog-actions>
</form>